{% extends 'Ecommerce/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Contacto {% endblock %}


{% block content %}
    <div class="contenedorFormulario">
        <form method="post" action="{% url 'Contacto' %}">
            {% csrf_token %}
            <h1 style="text-align: center;font-weight: bold">Contacto</h1>
            <table id="formularioContacto">{{ formulario_contacto|crispy }}</table>
            <input id="botonesFormContacto" type="submit" value="Enviar" class="btn btn-success"></input>
            <input id="botonesFormContacto" type="reset" value="Borrar" class="btn btn-danger"></input>
        </form>
        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
